@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

img {
  width: 600px;
}

.header{
  display: flex;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer{
  display: flex;
  
  margin-bottom: 0px;
  background-color: #eeeeee;
}

ul {
  display: flex;
  list-style-type: none;
  padding-top: 10px;
  margin-top: 5px;
}

li {
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: rgb(114, 113, 113);
}

.right-links {
  margin-left: auto;
  margin-right: 8px;
}

.left-links{
  margin-left: -35px;
  
}
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
